<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="griffeye" value="https://pkgs.dev.azure.com/gauss-dev/Griffeye/_packaging/Library/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="griffeye">
      <package pattern="SSG.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>