<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 
      Package source mapping ensures that packages we expect to come from 
      private feeds actually do come from those feeds.
      https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping
    -->
  <packageSourceMapping>
    <packageSource key="griffeye">
      <package pattern="SSG.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>